@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Roboto:300|Source+Sans+Pro:300');

.App {
  text-align: center;
  justify-content: center;
  height: 100%;
  display: block;
  font-family: 'Roboto', sans-sans-serif;
  color: #eee;
}

.sectional {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.parallax {
  min-height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interParallax {
  background-color: #282E34;
  min-height: 30vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
